<form action="/resultPage" method="POST">
    <label for="baseText">Qual o texto base?</label>
    <br />
    <div style="margin-left: 20px; display: inline-block"></div>
    <input type="text" name="baseText" id="baseText" />

    <br />

    <label for="fileType">Qual o formato do arquivo? (vazio para qualquer formato)</label>
    <br />
    <div style="margin-left: 20px; display: inline-block"></div>
    <input type="text" name="fileType" id="fileType" />
    
    <br />

    <label for="qtdResults">Quantos resultados deseja buscar?</label>
    <br />
    <div style="margin-left: 20px; display: inline-block"></div>
    <input type="text" name="qtdResults" id="qtdResults" />

    <input type="submit" value="Enviar" />
</form>